.controls__wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 121px;
  width: 100%;
  border-top: 1px solid var(--black-color);
  opacity: 0.9;
  background-color: var(--gray-color);
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.controls__content {
  width: 100%;
  height: 100%;
  grid-column: 2;
  grid-row: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--black-color);
  div {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    p {
      padding: 0 8px;
      box-sizing: border-box;
      text-overflow: ellipsis;
    }
  }
}
.controls__track {
  grid-column: 2;
  input {
    width: 100%;
  }
}
.controls__time-displayed {
  display: flex;
  align-items: center;
  div {
    flex: 1 0 auto;
  }
  :not(:first-child) {
    display: flex;
    justify-content: flex-end;
  }
}
.controls__volume-bar__container {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-row: 1/3;
  grid-column: 3;
}
.controls__volumea-bar {
  height: 50px;
  transform-origin: 50% 50%;
  transform: rotate(-90deg);
  bottom: 0;
  left: 0;
  width: 75px;
}
.controls__relative {
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
