.navbar{
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    color: var(--white-color);
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    border-radius: 1px;
    opacity: 0.9;
    span{
        padding: 0 8px;
    }
}