:root{
  --white-color: #FAFAFA;
  --black-color: #212121;
  --primary-color: #039BE5;
  --gray-color: #9E9E9E;
}
body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
